# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# constants
#/src/constants.js

# testing
/coverage

# production
/build

/public/manifies.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# pem
*.pem

npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*
yarn.lock*

*.pem

# K8 and configuraations
k8s-deployment.yml
k8s-service.yml
Jenkinsfile
Dockerfile